@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h1 {
    font-family: 'Anton';
}

body {
    background: linear-gradient(160deg, #FCF8E8, #7cdede);
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: #f503b0;

}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    text-decoration: underline;
}

h2 {
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: underline;
    font-size: 2em;
    margin-top: 4em;
    width: 6em;
}

.lien {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto';
    font-weight: bold;
    margin: 1em;

}

#encheres {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    justify-content: space-around;
}

#texte {
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: 2em;
}

#searchBar {

}

#categorie {
    display: flex;
    align-content: flex-start;
}

.logo {
    width: 15em;
    animation: jump 2s;
}

@keyframes jump {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);

    }

}